@import "tailwindcss";

@theme {
  --color-msn-blue: #0066CC;
  --color-msn-light-blue: #E6F2FF;
  --color-msn-bg: #ECE9D8;
  --color-msn-online: #00CC00;
  --color-msn-away: #FF9900;
  --color-msn-busy: #CC0000;
  
  --font-family-msn: Tahoma, Arial, sans-serif;
}

:root {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  font-weight: 400;

  color: #000000;
  background-color: #ECE9D8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
